VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_API_KEY=
RESEND_API_KEY=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_CALENDAR_ID=30c40515d632ffde21b7b7da90fef56ca2578c3f9a59cde375c74a957efe1214@group.calendar.google.com
VITE_ADMIN_UID=

# GOOGLE_SERVICE_ACCOUNT_JSON: GCP Console -> IAM -> Service Accounts -> Create -> Download JSON key -> minify to one line
# GOOGLE_CALENDAR_ID: Google Calendar -> Settings -> "elo matt" calendar -> Scroll to "Integrate calendar" -> Calendar ID
